---
layout: default
title: Rodrigo Panachi's tech blog
---

{% include header.html %}


<main id="categories" class="content" role="main">

    {% for post in site.categories[page.title] %}
      <article class="post">
          <header class="post-header">
              <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          </header>
          <section class="post-excerpt">
              {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
          </section>
          <footer class="post-meta">
              <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                  {{ post.date | date_to_string }}
              </time>
              <span>
                  on
                  {% for category in post.categories %}
                      <a href="/category/{{ category | slugify }}">{{ category -}}</a>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
              </span>
          </footer>
      </article>
    {% endfor %}

</main>
