---
layout: default
post_class: post-template page-template
---

{% include header.html %}

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Lastest Posts</h5>
            <ul>
                {% for post in site.posts limit:5 %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </article>
</main>


